.react-dat-gui {
  position: fixed;
  right: 0 !important;
  top: initial !important;
  bottom: 0em !important;
  width: 280px;
  font-size: 12px;
  font-family: Lucida Grande, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
